{% extends 'base.html' %}
{% block content %}   
<!-- style="display: inline-block; transform: translateX(0px) translateY(64px); height:91%" -->
<ul id="nav-mobile" class="sidenav sidenav-fixed collection with-header" style="margin-top:65px;" >
    <li class="search">
        <div class="search-wrapper">
            <input id="search" placeholder="Search"><i class="material-icons">search</i>
            <div class="search-results"></div>
        </div>
    </li>
    <div class="divider"></div>
    <ul class="collapsible expandable chat-title">
        <li class="bold"><a class="collapsible-header waves-effect waves-blue" tabindex="0">Pinned</a>
            <div class="collapsible-body" style="display: block;">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>UN WHO - Jessica Cohn</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>American Red Cross - John Miller</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>SF Earthquake - Water Supply Thread</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-blue" tabindex="0">Libya</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>Food Supply Thread</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>Mohammd Shegewi</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>Water Supply Thread</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-blue" tabindex="0">American Red Cross</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>John Miller</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><div style="color:white">::::</div>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</ul>
<div style=" width: 50%; margin-left: 25%; display:inline-block; transform: translateY(100vh) translateY(-200%)">
    <div class="search">
        <div class="search-wrapper">
            <div class = "row">
                <div class="col s11">
                    <input id="search" placeholder="Message">
                </div>
                <div class = "col s1">
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons">message</i>
                    </button>
                </div>
            </div>
            
            <div class="search-results"></div>
        </div>
    </div>
</div>

<ul id="nav-mobile" class="sidenav sidenav-fixed" style="margin-left: 80%; margin-top:65px;">
    <ul class="collapsible expandable chat-title">
        <li class="bold"><a class="collapsible-header waves-effect waves-blue" tabindex="0">Pinned</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-blue" tabindex="0">Pinned</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-blue" tabindex="0">Pinned</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</ul>
{% endblock %}