{% extends 'base.html' %}
{% block content %}   
<!-- style="display: inline-block; transform: translateX(0px) translateY(64px); height:91%" -->
<ul id="nav-mobile" class="sidenav sidenav-fixed" style="margin-top:65px;" >
    <li class="search">
        <div class="search-wrapper">
            <input id="search" placeholder="Search">
            <div class="search-results"></div>
        </div>
    </li>
    <ul class="collapsible expandable">
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Pinned</a>
            <div class="collapsible-body" style="display: block;">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Pinned</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Pinned</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</ul>
<ul id="nav-mobile" class="sidenav sidenav-fixed" style="margin-left: 80%; margin-top:65px;">
    <ul class="collapsible expandable">
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Pinned</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Pinned</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li class="bold"><a class="collapsible-header waves-effect waves-teal" tabindex="0">Pinned</a>
            <div class="collapsible-body">
                <ul class="collapsible" tabindex="1">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class = "col s1"></div>
                                <div class = "col s11">
                                    Lorem ipsum dolor sit amet.
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</ul>
{% endblock %}