{% extends 'base.html' %}

{% block content %}
<div id="map"></div>
<script>
  function initMap() {
    var infowindow = new google.maps.InfoWindow();
    var markers = [];
    var default_location = { lat: 39.0119, lng: -98.4842 };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 5,
      center: default_location,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    map.addListener('click', function(event) {
      let id = "Pin_" + Math.random().toString(36).replace('0.', '')  + Math.random().toString(36).replace('0.', '');
      let latitude = event.latLng.lat();
      let longtitude = event.latLng.lng();
      addMarker(event.latLng, id);
      newPin({latitude: latitude, longtitude: longtitude, id:id});
    });

    infowindow.addListener('domready', function () {
      $("#deleteButton").click(function() {
          deleteMarker($(this).data('id'));
      });
    });

    const getPins = () => {
      return fetch('{{ api_url }}').then(res => res.json());
    }

    getPins().then(function(result) {
      for(let i in result) {
          let pin = result[i];
          let location = {
            lat: parseFloat(pin.latitude), 
            lng: parseFloat(pin.longitude)
          };
          addMarker(location, pin.id);
      }
    });

    function addMarker(location, id){
      const marker = new google.maps.Marker({
        position: location,
        map: map,
        id: id
      });

      markers.push(marker);

      var content = 
      '<h5><img src="images/Intersect.png"/> San Francisco Earthquake </h5>' + 
      '<h6>San Francisco, California</h6>' +
      '<p>URGENT: Rescue Assistance Requested for estimated 50 individuals trapped under'+ 
      'building debris in Daly City, unstable ground in danger of collapsing in under 36 hours </p>'+
      '<p>Evacuation Assistance Requested for thousands in Bay Area trapped in flooded regions </p>' +
      '<p>Oakland Fire Assistance Requested</p>' +
      '<p>Food/Water Requested</p>' +
      '<button class="btn-small red" id="deleteButton" data-id="' + id + '">Delete Event</button>' ;

      marker.addListener('rightclick', function () {
          infowindow.setContent(content); 
          infowindow.open(map, marker);
      });
    }

    function deleteMarker(markerId) {
      for (var i = 0; i < markers.length; i++) {
        if (markers[i].id === markerId) {
            markers[i].setMap(null);
        }
      }
      deletePin({id:markerId});
    }

    function newPin(pin){
      const options = {
          method: 'POST',
          body: JSON.stringify(pin),
          headers: new Headers({
              'Content-type': 'application/json'
          })
      }
      return fetch('{{ api_url }}', options)
          .then(res => res.json())
          .then(res => console.log(res))
          .catch(error => console.error('Error: ${error}'))
    }
    
    function deletePin(pin) {
      const options = {
          method: 'DELETE',
          body: JSON.stringify(pin),
          headers: new Headers({
              'Content-type': 'application/json'
          })
      }
      return fetch('{{ api_url }}', options)
          .then(res => res.json())
          .then(res => console.log(res))
          .catch(error => console.error('Error: ${error}'))
    }
  }    
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJasvCiLPTsX0LJ_Fwp883mst4cQ3bSgM&libraries=drawing&callback=initMap" async defer></script>
{% endblock %}